{% extends "base.html" %}

{% block content %}
  <div class="assets-list-header">
    <h2>Employees List</h2>
    <p>Explore and manage all employees available.</p>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>No.</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Position</th>
        <th>Department</th>
        <th>Manager</th>
      </tr>
    </thead>
    <tbody>
      {% for employee in object_list %}
        <tr onmouseover="this.style.backgroundColor='#f5f5f5'" onmouseout="this.style.backgroundColor=''">
          <td>{{ employee.id }}</td>
          <td>{{ employee.name }}</td>
          <td>{{ employee.surname }}</td>
          <td>{{ employee.position }}</td>
          <td>{{ employee.department }}</td>
          <td>{{ employee.manager }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}