{% extends "base.html" %}

{% block content %}
  <form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}

    <div class="form-group">
      <div class="row">
        <div class="col">
          {{ form.name.errors }}
          <label for="{{ form.name.id_for_label }}">Name:</label>
          {{ form.name }}
        </div>
        <div class="col">
          {{ form.surname.errors }}
          <label for="{{ form.surname.id_for_label }}">Surname:</label>
          {{ form.surname }}
        </div>
      </div>
    </div>

    <div class="form-group">
      {{ form.position.errors }}
      <label for="{{ form.position.id_for_label }}">Position:</label>
      {{ form.position }}
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col">
          {{ form.department.errors }}
          <label for="{{ form.department.id_for_label }}">Department:</label>
          {{ form.department }}
        </div>
        <div class="col">
          {{ form.manager.errors }}
          <label for="{{ form.manager.id_for_label }}">Manager:</label>
          {{ form.manager }}
        </div>
      </div>
    </div>

    <button type="submit" class="btn btn-info btn-sm">{{ submit_label }}</button>
    <a class="btn btn-info btn-sm" href="{% url 'assets' %}">Cancel</a>
  </form>

{% endblock %}