{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="vh-100">
  <div class="container py-5">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12 mb-4">
            <img src="{% static 'images/profile.jpg' %}" class="img-fluid" alt="Equipment">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="text-center">
          <h1 class="fw-bold mb-4">User Details</h1>
          <div class="text-start">
            <p><strong>Username:</strong> {{ user.username }}</p>
            <p><strong>First Name:</strong> {{ user.first_name }}</p>
            <p><strong>Last Name:</strong> {{ user.last_name }}</p>
          </div>
        </div>

        <div class="form-content mt-4">
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row g-3">
              <div class="col-md-6">
                <div class="form-group mb-3">
                  <label class="small">Username:</label>
                  {{ user_form.username }}
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group mb-3">
                  <label class="small">First name:</label>
                  {{ user_form.first_name }}
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group mb-3">
                  <label class="small">Last name:</label>
                  {{ user_form.last_name }}
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group mb-3">
                  <label class="small">Email:</label>
                  {{ user_form.email }}
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-info btn">Update</button>
            <a href="{% url 'password_change' %}" class="btn btn-link">Change Password</a>
            <a href="{% url 'home' %}" class="btn btn-info btn-sm">Home</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}